
<div id="sec0">
<div class="container">
	<div class="row">

		<div class="span4">
			<img src="https://scontent-b-pao.xx.fbcdn.net/hphotos-frc3/972299_524460234294369_1137675096_n.jpg" alt="uptown" class="img-circle big-img">
		</div>
		<div class="span4">
			<p class="huge">&amp</p>
		</div>
		<div class="span4">
			<img src="https://scontent-a-pao.xx.fbcdn.net/hphotos-prn1/63762_416491555091238_1686087354_n.jpg" alt="uptown" class="img-circle big-img">
		</div>
		<div class="span12 main-cont">
			<h1 class="main-text">Los Cabos, Mexico - June 21, 2014 </h1>
			<h4 class="main-text">Tying the knot in: <span id="clock"> </span> </h4>
		</div>
	</div>
</div>
</div>
<div id="sec1">
<div class="container">

	<div class="row">

		<div class="span9">
			<h3>The Proposal</h3>
			<p>			
				Seems like such a long time ago since we ran into each other at Uptown Espresso in Downtown Seattle. It was Oct 2010 actually. Ann had just moved to Seattle from San Diego, and Chris was already nicely settled into the city living just up the street. Fast forward almost 3 years later to Aug 2013… and what a lovely 3 years it’s been with international trips, snowboarding adventures and a big decision to move in together in San Francisco in May 2012. So, the story goes...Ann was on business travel back in Seattle on Aug 22, 2013. She had no idea that Chris had the entire proposal planned out with the help of our friends. Our dear friend Marcy Grossman had arranged to have dinner with Ann that evening and picked her up promptly at 7pm. Once in the car, Marcy magically worked the plan to tell Ann she was feeling a bit tired and needed a coffee before dinner. She drove over to Uptown Espresso on 4th &amp Wall in Downtown Seattle where Chris and Ann had first met. As Ann followed Marcy to the entrance of the coffee shop, Marcy stalled and motioned for Ann to turn around and Chris was waiting there for her! Fresh off a plane from San Francisco, dressed up in his Sunday best with two chai lattes waiting on a table outside the coffee shop, Chris grabbed Ann’s hands to lead her to the table while Marcy quietly exited the scene. Ann was shocked, speechless and swept off her feet. Chris worked through a very romantic proposal including getting down on one knee to officially do it. The stunning sapphire diamond ring brought on cheers from all bystanders that happened to notice what was going on. Random couples were taking pictures to celebrate our joyous moment and congratulate us with well wishes. Afterward, we met up with a group of friends to celebrate with champagne and dinner at Black Bottle.  

			</p>

		</div>
		<div class="span3">
			<img src="http://brittac.files.wordpress.com/2010/08/seattle-2-030.jpg" alt="uptown" class="soloImage">
		</div>
	</div>
</div>
</div>


<div id="sec2">
<div class="container"> 

	<div class="row">
		<div class="span12">
			<h3>The Wedding</h3>
			<p>
				Over the course of our lives, we’ve been fortunate to make friends from all over the country including Michigan, Philadelphia, South Jersey, San Diego, Seattle, San Francisco and beyond. It’s always been a dream of ours to have a big party where all of our friends could travel to a location to co-mingle and really get to know each other for a few days. We entertained the idea of a wedding in San Francisco, but felt that the wedding would be largely limited to 1 day and wouldn't create the experience we would hope to have for our friends and family. In order to truly create an opporunity for new friendships to bud and old friendships to strengthen, a destination wedding with planned events from Friday to Sunday was the only way to go. It's gonna be awesome. </p>
				<h4>Location</h4>
				<p>
					After researching over 20 destinations, we happily selected Cabo San Lucas, Mexico. We wanted a great beach location where everyone could make a small vacation out of the trip to our wedding. Plus, Cabo has reasonable flight options for our guests, and the Sheraton Hacienda Del Mar is a true Spanish-style Hacienda hotel on the sea. We were able to negotiate great rates and perks for our guests to help make the trip more affordable as we realize the associated expense with the international flights, hotel and securing a passport.
				</p><p>
				The Sheraton Hacienda Del Mar is a gorgeous 270-room resort right on the water with 5 pools, 4 resturants, a private beach, a golf course, spa, 2 hot tubs and a state of the art fitness center. 
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<h4>RSVP</h4>
			<p>
				Please RSVP by mail. 
			</p>
		</div>
	</div>	


	<div class="row">
		<div class="span12">
			<h4>Venue Photos</h4>
		</div>
	</div>

	<%=render :partial => 'layouts/image_module', :locals => {:tag => "img_grid", :photos => [
		"http://images.familyvacationcritic.com/sheratonplanning.jpg",
		"http://www.tnetnoc.com/hotelphotos/044/32044/2631759-Sheraton-Hacienda-del-Mar-Golf-amp-Spa-Resort-Los-Cabos-Guest-Room-1-DEF.jpg", 
		"http://www.starwoodhotels.com/pub/media/1298/she1298mf.89934_lg.jpg" , 
		"http://www.starwoodhotels.com/pub/media/1298/she1298ex.89931_lg.jpg", 
		"http://www.phoenixbrideandgroom.com/blog/wp-content/uploads/2012/05/002_AlecandT.jpg",
		"http://www.starwoodhotels.com/pub/media/1298/she1298po.89920_lg.jpg"
		] } %>

	</div>
</div>


<div id="sec3">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h3>Weekend Details</h3>
				<p> We will be taking care of your food &amp drinks for Friday night, Saturday night, and Sunday morning plus have negotiated discounted rates at the hotel. The negotiated discount wedding rate at the hotel is available beginning Wednesday June 18 through Thursday June 26 under the Bee-Hannosh wedding. We encourage everyone to arrive by the afternoon of Friday June 20. 
				</p><p>
				With your guestroom, you’ll also enjoy the following extras:</p>
				<ol>
					<li>
						10% off on food and beverage for individual consumptions at the hotel restaurants: Tomatoes, Sirenas Sports Bar, Dolphins Pool, De Cortez</li>
						<li>Special price for buffet breakfast at Tomatoes Restaurant of $20usd plus tax and service charge (remember, we’re providing you brunch on Sunday June 22, so you can use this benefit on Saturday or any other day you stay) </li>
						<li>20% discount at the Spa, with 15% off on the beauty services at the Spa. Not valid with packages or other discounts and promotions.</li>
						<li>10% discount on green fees at Cabo del Sol golf courses. Roundtrip transportation included.</li>
						<li>Complimentary WIFI and access to the fitness center.</li>
					</ol>

				</div>
			</div>

			<%= render :partial => 'layouts/schedule'%>

			<div class="row">
				<div class="span12">
					<h4>What to Wear</h4>
					<ul>
					<li> <b>Friday Welcome Dinner: </b>Beach Chic. Sundresses or similar for the ladies, jeans or nice shorts &amp polo/button up for the gentlemen.</li>
					<li><b>Saturday Daytime:</b> Swimwear. Flip flops, board shorts, bikinis. Pool party time.</li>
					<li><b>Saturday Ceremony &amp Dinner:</b> Beach Formal for an elegant summer wedding. Summer dresses for the ladies with dress sandals/shoes. Lightweight summer suits with linen shirts for the gentlemen (tie is optional); closed toe shoes for the guys. Show us what you got stunner.</li>
					<li><b>Sunday Brunch:</b> Beach Casual. Shorts, t-shirts, flip flops, bikinis and sarongs.</li>
					</ul>
				</div>
			</div>
		</div>
		</div>
				<div id="sec4">
					<div class="container">

						<div class="row">
							<!-- <div class="span6">
								<h4>Song Requests</h4>
								<%=render 'songrequests/newsong' %>
							</div> -->
					
								<form accept-charset="UTF-8" action="/songrequests" id="songrequest" method="post">
								<input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="bijeU8CXVDH0vtWA8mE67bnYSKJR3StBeMKJEwMi940=">
									<div class="span12">
										<h3>Make a Song Request</h3>
									</div>

									<div class="span3">
											<label for="songrequest_requstor">Your Name</label>
											<input id="songrequest_requestor" name="songrequest[requestor]" type="text">
									</div>
								
									<div class="span3">
										<label for="songrequest_title">Song Title</label>
										<input id="songrequest_title" name="songrequest[title]" type="text">
									</div>

									<div class="span3">
										<label for="songrequest_artist">Artist</label>
										<input id="songrequest_artist" name="songrequest[artist]" type="text">
									</div>
																	
									<div class="span3">
										<input class="btn btn-primary submitBtn" name="commit" type="submit" value="Play my Song!"> 
									</div>
								</form>
		

						</div>
					</div>
				</div>

		<div id="sec5">
			<div class="container">
				<div class="row">

					<div class="span12">
						<h3>Travel Info</h3>
					</div>

					<div class="span4 contentbox">
						<h4>Flights</h4>
						<ul>
							<li>We recommend booking your flight about 8 to 12 weeks before the weekend. so plan to book sometime in early April, and perhaps start watching the fares in Feburary/March. As with most destinations, prices seem to be high anything over 4 months out and then dip a bit until about 2 months before the event where they usually rise again as it gets close to the date.</li>
							<li>Here are a few links to help you get started in your search:  	</li>
							<ul>
								<li><a href=" http://www.kayak.com/flights/DTW-SJD/2014-06-20/2014-06-22" target="_blank">DTW to SJD</a></li>
								<li><a href="http://www.kayak.com/flights/PHL-SJD/2014-06-20/2014-06-22" target="_blank">PHL to SJD</a></li>
								<li><a href="http://www.kayak.com/flights/SEA-SJD/2014-06-20/2014-06-22" target="_blank">SEA to SJD</a></li>
								<li><a href="http://www.kayak.com/flights/SFO-SJD/2014-06-20/2014-06-22" target="_blank">SFO to SJD</a></li>
								<li><a href="http://www.kayak.com/flights/JFK-SJD/2014-06-20/2014-06-22" target="_blank">JFK to SJD</a></li>
								<li><a href="http://www.kayak.com/flights/IAD-SJD/2014-06-20/2014-06-22" target="_blank">IAD to SJD</a></li>
							</ul>

						</ul>
					</div>

					<div class="span4 contentbox">
						<h4>Hotel Booking</h4>
						<ul>
							<li> To book your room, you must contact the reservations office either via e-mail or by phone and reference the “Bee-Hannosh Wedding” in order to honor the contracted rates. You can dial 1-888-672-7137 from 9:00 AM to 5:00 PM Monday to Friday, and from 9:00 AM to 1:00 PM on Saturday (PST) or email <a href="mailto:berenice.reyes@sheraton.com, humberto.garciar@sheraton.com?subject=Bee-Hannosh%20Wedding">berenice.reyes@sheraton.com</a>. The contracted group rates are available for booking immediately and are only available for booking until May 1, 2014. The heavily-discounted nightly rates are as follows (plus tax):
							</li>
							<ul>
								<li>Deluxe Garden View Rooms: $139 </li>
								<li>Deluxe Ocean View Rooms: $159 </li>
								<li>Deluxe Ocean Front Rooms: $179</li>
							</ul>
						</div>
						<div class="span4 contentbox">
							<h4>Other Info</h4>
							<ul>
								<li>After arriving in Cabo, the hotel is approximately 10miles from the SJD airport, and a cab ride should cost approximately $60 USD. Cabs in Mexico do not have a meter, so just make sure to confirm the price before taking the ride. The price should be roughly the same for all cabs at the airport, so no need to hustle the guy too hard (read: Al, Brian). 
								</li>
								<li>A US passport is required when traveling to Mexico. Click below on the links to see how to secure yours if you don’t already have one. If you do have one, please take a few minutes to ensure it does not expire before June 22, 2014. If you need to get new passport, you can look up the passport agency in your city <a href="http://travel.state.gov/passport/get/first/first_830.html" target="_blank">here</a>. Note this will take 6 to 8 weeks, so make sure to start the process by March.  
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>

			<div id="sec6">
				<div class="container">

					<div class="row">
						<div class="span12">
							<h3>Photos</h3>
						</div>
					</div>

					<%=render :partial => 'layouts/image_module', :locals => {:tag => "img_grid2", :photos => [
						"https://scontent-a-sjc.xx.fbcdn.net/hphotos-ash3/1391877_573019269438465_522135964_n.jpg",
						"https://scontent-b-sjc.xx.fbcdn.net/hphotos-prn1/945618_10200264039744747_632893975_n.jpg", 
						"https://scontent-b-sjc.xx.fbcdn.net/hphotos-frc3/546246_4158321437428_1671684849_n.jpg", 
						"https://scontent-a-pao.xx.fbcdn.net/hphotos-ash2/408278_2418940313987_653171635_n.jpg", 
						"https://scontent-b-pao.xx.fbcdn.net/hphotos-frc3/14751_10200339584113309_1958424992_n.jpg?lvh=1", 
						"https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash2/416879_269189416488120_163838720_n.jpg"
						] } %>

					</div>
				</div>

				<div id="sec7">
					<div class="container">
						<h3>Registeries</h3>
						<p>Of course, just having you join us for our big day is enough, but if you would like to get us a wedding gift, below are a few places we've made a list of suggestions...</p>
						<div class="row" style="padding-bottom:20px;">
							<div class="span6">
								<a href="http://www.travelersjoy.com/annandchris/" target="_blank"><%=image_tag('tj_bw.png', :mouseover=>'assets/tj_color.png', class:"regImg1") %></a>
							</div>
							<div class="span6">
								<a href="http://www.amazon.com/gp/registry/wedding/3RS3LI1YJTIAN/ref=cm_sw_em_r_wrl_rsJVsb02E2797_wb" target="_blank"><%=image_tag('amazon_bw.jpg', :mouseover=>'assets/amazon_color.png', class:"regImg3") %></a>
							</div>
						</div>
					</div>
				</div>




				<%=render 'layouts/footer' %>











